<div class="fullform">
   <%= form_for @collection, remote: true, :html => {:name => 'collectionform'} do |f| %>
    <div id="actionbar" class="span7" style="margin-top: -32px; margin-left: -6px">
       <div id="crumbs">
         <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
         &nbsp;--&gt;&nbsp;
         <%=  link_to  "Collected:", '/collections', remote: true,  :id => 'collections', :onclick => "linkHandler('collections')" %>
         &nbsp;--&gt;&nbsp;
         <%if @collection.id%> 
            <b><%=link_to @collection.id.to_s, '/collections/'+@collection.id.to_s, remote: true, :id => 'collection', :onclick => "linkHandler('collection')" %>
            &nbsp;--&gt;&nbsp;
            <b>Edit</b>
         <% else %>
            <b>New</b>
         <% end %>
       </div>
       <div id="controls">
          <%= f.submit @submit_button, class: "btn btn-small btn-primary" %>
          <%  if(@submit_button == "Save Changes" and @current_person.is_admin) %>
            <%= f.submit "Delete", confirm: "Delete collection: Are you sure?", class: "btn btn-small btn-primary", name: "delete", id:  "deletebutton", remote: true %>
          <% end %>
          <% if params[:referring]=='index'%>
            <%=  link_to "Cancel", '/collections', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% else %>
            <%=  link_to "Cancel", '/collections/'+@collection.id.to_s, class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('cancel')" %>
          <% end %>
          <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
       </div>
    </div>

    <div id="right_scroll">
      <%= hidden_field_tag(:referring, @referring) %>
      <%= render 'flash' %>
      <%= render 'shared/error_messages' %>

      <div class="sectiontitle">Collection ID</div>
      <%if @current_person.is_admin%><%= f.text_field :id %><%else%><%= f.text_field :id, readonly: true %><<% end %>

      <div class="sectiontitle">Date</div>
      <%= f.date_field :date %>

      <div class="sectiontitle">Source</div>
      <%= collection_select( :collection, :source_id, Source.where(is_active: true).order(:name), :id, :name, {include_blank: '', default: nil}) %>

      <div class="sectiontitle">Source description</div>
      <%= f.text_field :source_description %>

     <div class="erow">
           <div class="leftbuttons">
              <span title="Click to draw location on map">
                 <img id="placeplus" src="/assets/draw-point.png" onclick="selectPoint()" width="16" style="display:block">
              </span>

              <span title="Click to confirm selection">
                 <img id="placetick" src="/assets/tick.png" onclick="point_selectNothing()" width="16" style="display:none">
              </span>
           </div>
         <div class="sectiontitle25">Location:</div>
      </div>
      <%= f.hidden_field :location, :readonly => true %>

      <%= f.label :projection %>
      <%= collection_select( :collection, :projection_id, Projection.all.order(:name), :id, :name, {include_blank: '', default: nil}, {}) %>

      <%= f.label :x %>
      <%= f.text_field :x, :size => 8 %>

      <%= f.label :y %>
      <%= f.text_field :y, :size => 8 %>

      <div class="sectiontitle">Altitude (leave blank to calculate from map upon save):</div>
      <%= f.text_field :altitude %>

      <div class="sectiontitle">Species</div>
      <%= collection_select( :collection, :species_code, Species.where(is_active: true).order(:genus, :species), :code, :name, {include_blank: '', default: nil}) %>

      <div class="sectiontitle">Number of plants sampled</div>
      <%= f.text_field :no_plants_sampled, :size => 8 %>

      <div class="sectiontitle">Number collected</div>
      <%= f.text_field :no_collected, :size => 8 %>

      <div class="sectiontitle">Current stock</div>
      <%= f.text_field :current_stock, :size => 8 %>

      <div class="sectiontitle">Seeds collected?</div>
      <%= f.check_box :is_seeds%><br/><br/>

      <div class="sectiontitle">Cuttings collected?</div>
      <%= f.check_box :is_cuttings%><br/><br/>

      <div class="sectiontitle">Team lead</div>
      <%= collection_select( :collection, :team_lead_id, Person.where(is_member: true).order(:lastname), :id, :name, {include_blank: '', default: nil}) %>

      <div class="sectiontitle">Team members</div>
      <%= f.text_field :team_members %>


      <div class="sectiontitle">Storage</div>
      <%= f.text_field :storage %>

      <div class="sectiontitle">Notes</div>
      <%= f.text_area :notes, rows: 5 %>

      <%= "Active? " %><br/>
      <%= f.check_box :is_active%><br/><br/>
  
    </div>
  <% end %>
</div>

<script>
/*    reset_map_controllers(); */
    place_init('<%=@collection.location%>', '', 0);
    deactivate_all_click();
    if(map_size==0) { 
       $('#actionbar').removeClass('span7');
       $('#actionbar').addClass('span12');
    }

</script>

