
<script> 
   document.getElementById("page_status").innerHTML = '';
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <%=  link_to  "Sources:", '/sources', remote: true,  :id => 'sources', :onclick => "linkHandler('sources')" %>
     &nbsp;--&gt;&nbsp;
     <b><%= @source.id.to_s %></b>
     </div>
   <div id="controls">
       <% if current_person.is_modifier %>
            <%=  link_to "Edit", '/sources/'+@source.id.to_s+'/edit', class: "btn btn-small btn-primary", remote: true, :id => 'edit', :onclick => "linkHandler('edit')" %>
       <% end %>
       <%=  link_to "Index", "/sources", class: "btn btn-small btn-primary", remote: true,  :id => 'index', :onclick => "linkHandler('index')" %>
       <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
   </div>
</div>

<div id="right_scroll">
   <%= render 'flash' %>
   <div class="erow" id="email">
      <div class="rowtitle"><%= "Name:" %></div>
      <div class="rowtext"><%= @source.name %></div>
   </div>
   <div class="erow" id="email">
      <div class="rowtitle"><%= "Notes" %></div>
      <div class="rowtext"><%= @source.notes %></div>
   </div>
   <div class="erow" id="email">
      <div class="rowtitle"><%= "Property Address" %></div>
      <div class="rowtext"><%= @source.property_address1 %></div>
      <div class="rowtext"><%= @source.property_address2 %></div>
      <div class="rowtext"><%= @source.property_address3 %></div>
   </div>

<% if @source.x and @source.y %>
   <div class="erow" id="email">
      <div class="rowtitle"><%= "Location" %></div>
      <div class="rowtext"> <%= "NZTM2000: "+@source.x.round().to_s+", "+@source.y.round().to_s %><% if @source.altitude %><%=" (alt: "+@source.altitude.to_i.to_s+"m)"%> <% end %> </div>
   </div>
<% end %>

   <div class="erow" id="email">
      <div class="rowtitle"><%= "Enabled?" %></div>
      <div class="textext"><%= if @source.is_active then "Yes" else "No" end %></div>
   </div>

   <div class="erow">
      <div class="hrline">
         <hr noshade size="4">
      </div>
   </div>
   <% @collections = Collection.find_by_sql [ " select * from collections where source_id = ? order by date DESC",@source.id.to_s ] %>

   <div class="erow">
      <div class="sectiontitle">Plants sourced here:</div>
         <%=render 'association_tree'%>
      </div>
   </div>

</div>

<script>
    place_init('<%=@source.location%>', '<%=@source.boundary%>', 0);
    if(map_size==0) { 
       $('#actionbar').removeClass('span7');
       $('#actionbar').addClass('span12');
    }
</script>

