<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <%=  link_to  "People", '/people', remote: true,  :id => 'people', :onclick => "linkHandler('people')" %>
     &nbsp;--&gt;&nbsp;
     <b>Edit Table</b>
     </div>
   <div id="controls">
       <%=  link_to "View Table", '/people/', class: "btn btn-small btn-primary", remote: true, :id => 'people', :onclick => "linkHandler('people')" %>
       <% if current_person.is_admin %>
          <input type="button" class= "btn btn-small btn-primary" value="Delete Row" onclick="grid.deleteSelectedRows()" />
       <% end %>
       <%=  link_to "Download", '/people.csv', class: "btn btn-small btn-primary"%>
       <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <div id="grid_here" style="width: 100%; height: calc(100% - 72px); position: fixed"></div>
</div>

<script type="text/javascript" charset="UTF-8">
     map_smaller();
     var grid = new dhtmlXGridObject("grid_here");
     grid.setImagePath("/assets/imgs/");
     grid.setHeader("Id, Username, First name, Last name, email, Mobile, Landline, Address1, Address2, Address3, Postcode, Member?, Source?, Destination?, User?, Modifier?, Admin?, Active?");
     grid.attachHeader("#,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter");
     grid.setColSorting("int,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str,str");
     grid.setColTypes("ro,ed,ed,ed,ed,ed,ed,ed,ed,ed,ed,ch,ch,ch,ch,ch,ro,ch");
     grid.setInitWidths("60,100,100,100,150,100,100,200,200,200,100,60,60,60,60,60,60,60");

     grid.setSkin("dhx_skyblue");
     grid.init();
     grid.load("<%= person_data_path %>", "json");
     dp = new dataProcessor("<%= person_db_action_path %>");
     dp.setTransactionMode("GET",false);
     dp.init(grid);

    if(map_size==0) { 
       $('#actionbar').removeClass('span7');
       $('#actionbar').addClass('span12');
    }
</script>


