<script>
   reset_map_controllers();
   document.getElementById("page_status").innerHTML = '';
   destinations_layer.setVisibility(true);
</script>

<div id="actionbar" class="span7">
   <div id="crumbs">
     <%=link_to "Home", '/', remote: true,  :id => 'home', :onclick => "linkHandler('home')" %>
     &nbsp;--&gt;&nbsp;
     <b>Destinations</b>
     </div>
   <div id="controls">
       <% if current_person.is_modifier %>
            <%=  link_to "Edit Table", '/destinations/editgrid', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('edit')" %>
            <%=  link_to "Add row", '/destinations/new', class: "btn btn-small btn-primary", remote: true, :onclick => "linkHandler('add')" %>
       <% end %>
       <%=  link_to "Download", '/destinations.csv', class: "btn btn-small btn-primary"%>
       <%=  link_to "Show/Hide Map", "#", class: "btn btn-small btn-primary",   :onclick => "toggle_map(); return false;"%>
   </div>
</div>

<div id="right_scroll">
  <%= render 'flash' %>
  <table class="places">
      <tr>
        <th>Name</th>
        <th>Notes</th>
        <th>Owner</th>
        <th>Legal status</th>
        <th>Contact</th>
        <th>Address</th>
        <th>X</th>
        <th>Y</th>
        <th>Alt</th>
        <th>Projn</th>
        <th style="text-align:center">
          <%=render :partial => 'filter',  :locals => {:filtername => "active", :formname => "/destinations"} %>
          Active
        </th>
      </tr>

<% if @destinations then @destinations.each do |destination| %>
      <tr>
        <td>
          <% if current_person.is_modifier %>
            <span title="Click to edit"><%= link_to image_tag("/assets/pencil_edit.png", :class => 'dock-item'), '/destinations/'+destination.id.to_s+'/edit?referring=index', remote: true, onclick: "linkHandler('editbutton')", id:  "editbutton", alt: "Edit"  %></span>
          <% end%>
          <%= link_to destination.name.capitalize, '/destinations/'+destination.id.to_s, remote: true, :id => 'destination_link_'+destination.id.to_s, :onclick => "linkHandler('destination_link_"+destination.id.to_s+"')" %>
        </td>

        <td><%if destination.notes and destination.notes.length>0 %><div class="hoverover"><span title='<%=destination.notes%>'><%=destination.notes[0..8]+"..."%></span></div><%end%></td>

        <td><%=destination.owner%></td>
        <td><%=destination.legal_status%></td>
        <td><%=if destination.contact_person then link_to destination.contact_person.name, '/people/'+destination.contact_person_id.to_s, remote: true, :id => 'person_link_'+destination.id.to_s, :onclick => "linkHandler('person_link_"+destination.id.to_s+"')"  end%></td>
        <td><%if destination.address and destination.address.length>0 %><div class="hoverover"><span title='<%=destination.address%>'><%=destination.address[0..8]+"..."%></span></div><%end%></td>
        <td><%=if destination.x then destination.x.to_i end%></td>
        <td><%=if destination.y then destination.y.to_i end%></td>
        <td><%=destination.altitude%></td>
        <td><%=if destination.projection then destination.projection.name end%></td>
        <td style="text-align:center"><%= check_box "destination", "is_active", {:checked => destination.is_active, :disabled => true} %></td>
      </tr>
<% end end %>
  </table>
</div>

<script>
    if(map_size==0) { 
       $('#actionbar').removeClass('span7');
       $('#actionbar').addClass('span12');
}
</script>

